################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CliffPortfolio/private.config
/CliffPortfolio/private11.config
