<connectionStrings>

  <add name="DefaultConnection" connectionString="Server=tcp:ckoenig.database.windows.net,1433;          
         Initial Catalog=CliffBlog;                   
         User ID=ck3008;          
         Password=Reddog12!"
       providerName="System.Data.SqlClient" />

</connectionStrings>